@import "nib"

$teal = #019bb2
$serif = "Roboto Slab", serif
$sans-serif = "Open Sans", sans-serif

html
	border: 0

body
	background: #f9f8f3
	font-family: sans-serif
	margin: 0
	padding: 0

a
	color: inherit

button
	appearance: none
	background: none
	border-color: #fff
	border-radius: 55px
	border-style: solid
	border-width: 3px
	color: #fff
	cursor: pointer
	font-size: 18px
	font-weight: 700
	letter-spacing: 1px
	padding: 20px 30px
	text-decoration: none
	text-transform: uppercase
	transition: all 0.2s ease-in-out

	&:hover
		background-color: rgba(#fff, 0.2)

h1, h2, h3, h4, h5, h6, button
	font-family: $serif
	text-transform: uppercase

h2
	font-size: 24px
	line-height: 27px
	margin: 0 0 10px 0

h3
	font-size: 18px
	letter-spacing: 2px
	line-height: 22px
	margin: 0 0 10px 0

img
	border: 0
	margin: 0
	max-width: 100%

p, li
	font-family: $sans-serif

p
	color: #414042
	font-size: 14px
	line-height: 20px
	margin: 5px 0

	&:not(:first-of-type)
		margin: 10px 0 0 0

::-webkit-input-placeholder
	color: #fff

:-moz-placeholder
	color: #fff

::-moz-placeholder
	color: #fff

:-ms-input-placeholder
	color: #fff

.section
	position: relative

	p
		color: inherit

.triangle
	content: ""
	height: 25px
	left: 50%
	margin-left: -12px
	margin-top: -13px
	position: absolute
	transform: rotate(45deg)
	top: 100%
	width: 25px

.center
	text-align: center

.header
	margin-bottom: 50px

.columns
	clearfix()
	margin-bottom: 20px

	.column
		box-sizing: border-box
		float: left
		padding: 0 10px

	&.two

		.column
			width: 50%

			&:first-child
				padding-right: 100px

			&:last-child
				padding-left: 100px

	&.six
		.column
			width: 16.6%

.container
	margin-left: auto
	margin-right: auto
	width: 960px




.intro
	background: $teal
	color: #fff
	height: 750px
	padding: 30px 0
	text-align: center

	.title
		font-size: 80px
		letter-spacing: 3px
		line-height: 1.1em

		i
			font-family: $sans-serif
			font-size: 60px
			font-weight: 400
			text-transform: none

	p
		font-size: 1.05em
		font-weight: 400
		line-height: 1.4em
		margin: 0 0 60px 0

.navigation
	background: #fff
	box-sizing: border-box
	height: 60px
	padding: 0 30px
	position: absolute
	top: 800px
	width: 100%
	z-index: 11

	img
		cursor: pointer
		margin-top: 21px
		max-width: 180px

	ul
		clearfix()
		float: right
		font-size: 13px
		font-weight: 700
		height: 100%
		list-style: none
		margin: 0

		li
			float: left
			height: 100%
			margin: 0 0 0 20px
			text-transform: uppercase

			a
				color: #000
				cursor: pointer
				display: block
				height: 100%
				line-height: 61px
				text-decoration: none

				&.active, &:hover
					color: $teal

.story
	box-sizing: border-box
	height: 1370px
	z-index: 10

	&:after
		@extends .triangle
		background: #fff9eb

	.background
		@extends .container
		background-position: center
		background-repeat: no-repeat
		background-size: contain
		height: 1170px
		position: absolute
		top: 45px
		width: 100%
		z-index: 1

		&.happy
			background-image: url(/images/story_good.svg)

		&.sad
			background-image: url(/images/story_bad.svg)
			display: none

	.story-top
		position: relative
		top: 130px
		z-index: 2

		button
			margin-top: 30px
			width: 300px

	.story-bottom
		position: relative
		margin-top: 715px
		z-index: 2

	.button-block
		clearfix()
		margin-top: 20px

		button
			width: 175px

		> :first-child
			float: left

		> :last-child
			float: right

	button
		border-color: $teal
		color: $teal

		&:hover
			background-color: rgba($teal, 0.1)

$meme-base-color = #07e69a
.memes
	background: $meme-base-color
	color: #fff
	padding: 90px 0 70px 0
	z-index: 9

	&:after
		@extends .triangle
		background: $meme-base-color

	button
		width: 100%

	form

		> *
			width: 100%

		input
			background: none
			border: 3px solid #fff
			border-radius: 8px
			box-sizing: border-box
			color: #fff
			font-size: 26px
			margin: 0 0 22px 0
			padding: 10px 13px

			&:focus
				background: #fff
				color: $meme-base-color

	.stage
		display: none

	.select-critter
		padding-left: 10px

	#stage-one

		.column
			height: 117px // bleh

		img
			border: 3px solid #fff
			transition: all 0.2s ease-in-out

			&:hover
				cursor: pointer
				transform: scale(1.2)

	.image-container
		background: #fff
		border: 5px solid rgba(#fff, 1)
		border-radius: 10px
		box-sizing: border-box
		color: rgba(#000, 0.2)
		display: table
		min-height: 200px
		padding: 3px
		position: relative
		text-align: center
		width: 100%

		img
			max-width: 100%
			vertical-align: middle

		span
			display: table-cell
			vertical-align: middle

	.download
		display: none

	.social-links
		display: none
		font-weight: 700
		margin-top: 15px
		text-align: center
		vertical-align: middle

		> *
			padding: 0 5px

		img
			border-radius: 3px
			width: 25px

.contributions
	background: $teal
	box-sizing: border-box
	color: #fff
	padding: 120px 0 70px 0
	z-index: 8

	&:after
		@extends .triangle
		background: $teal

	a
		color: inherit

	button
		margin-top: 30px

	.right.column
		padding-left: 130px
		position: relative

	.meter
		border: 3px solid #fff
		border-radius: 18px
		box-sizing: border-box
		left: 75px
		height: 100%
		padding: 5px 0
		position: absolute
		width: 34px

	.expenses
		left: 25px
		position: relative
		top: -30px

	.progress-container
		bottom: 0
		position: absolute
		right: 0
		width: 100%

	.progress-bar
		background: $meme-base-color
		border: 4px solid $teal
		border-radius: 18px
		box-sizing: border-box
		height: 100%
		position: absolute
		width: 100%

	.progress-amount
		position: absolute
		right: 225%
		text-align: right
		top: -9px

		h3, p
			margin: 0

		&:after
			border-bottom: 2px solid #fff
			content: ""
			left: 116%
			position: absolute
			top: 12px
			width: 15px

	ul
		list-style: none
		margin: 0
		padding: 0

		li
			font-size: 11px
			margin: 10px 0 30px 0

			.highlight
				display: inline-block
				font-family: $serif
				font-size: 16px
				font-weight: 700

				&.large
					font-size: 55px
					font-weight: 800

$perks-background-color = #22211a
.perks
	background: $perks-background-color
	color: #fff
	padding: 90px 0 70px 0
	z-index: 7

	&:after
		@extends .triangle
		background: $perks-background-color

	img
		border-radius: 50%
		margin-bottom: 50px

	ul
		clearfix()
		height: 400px
		list-style: none

		li
			box-sizing: border-box
			display: none
			float: left
			padding: 0 13px
			width: 25%

			&.active
				display: block

			a
				text-decoration: none

			h3
				height: 44px
				margin: 0
				vertical-align: text-bottom

			.perk-image
				box-sizing: border-box
				height: 200px
				margin: 0 16px
				padding: 45px 0 0 0
				position: relative
				text-align: center

				&:hover
					div
						transform: scale(1.1)

					img
						box-shadow: 0 0 15px 0 rgba(#fff, 0.8)

				div
					position: relative
					transition: all 0.2s ease-in-out
					width: 100%
					z-index: 1

				img
					left: 0
					position: absolute
					transition: all 0.2s ease-in-out
					top: 0
					width: 100%
					z-index: 0

				.call-to-action
					font-size: 0.8em
					font-style: italic

				.perk-amount
					font-family: $serif
					font-size: 36px
					font-weight: 700

.footer
	background: #2e2d29
	color: #fff
	padding: 90px 0
	text-align: center
	z-index: 6

	img
		border-radius: 50%
		margin-bottom: 50px

	p
		color: inherit
