html {
  border: 0;
}
body {
  background: #f9f8f3;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border-color: #fff;
  -webkit-border-radius: 55px;
  border-radius: 55px;
  border-style: solid;
  border-width: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px 30px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: rgba(255,255,255,0.2);
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
}
h2 {
  font-size: 24px;
  line-height: 27px;
  margin: 0 0 10px 0;
}
h3 {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 22px;
  margin: 0 0 10px 0;
}
img {
  border: 0;
  margin: 0;
  max-width: 100%;
}
p,
li {
  font-family: "Open Sans", sans-serif;
}
p {
  color: #414042;
  font-size: 14px;
  line-height: 20px;
  margin: 5px 0;
}
p:not(:first-of-type) {
  margin: 10px 0 0 0;
}
::-webkit-input-placeholder {
  color: #fff;
}
:-moz-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
.section {
  position: relative;
}
.section p {
  color: inherit;
}
.triangle,
.story:after,
.memes:after,
.contributions:after,
.perks:after {
  content: "";
  height: 25px;
  left: 50%;
  margin-left: -12px;
  margin-top: -13px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 100%;
  width: 25px;
}
.center {
  text-align: center;
}
.header {
  margin-bottom: 50px;
}
.columns {
  zoom: 1;
  margin-bottom: 20px;
}
.columns:before,
.columns:after {
  content: "";
  display: table;
}
.columns:after {
  clear: both;
}
.columns .column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
}
.columns.two .column {
  width: 50%;
}
.columns.two .column:first-child {
  padding-right: 100px;
}
.columns.two .column:last-child {
  padding-left: 100px;
}
.columns.six .column {
  width: 16.6%;
}
.container,
.story .background {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.intro {
  background: #019bb2;
  color: #fff;
  height: 750px;
  padding: 30px 0;
  text-align: center;
}
.intro .title {
  font-size: 80px;
  letter-spacing: 3px;
  line-height: 1.1em;
}
.intro .title i {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 400;
  text-transform: none;
}
.intro p {
  font-size: 1.05em;
  font-weight: 400;
  line-height: 1.4em;
  margin: 0 0 60px 0;
}
.navigation {
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  padding: 0 30px;
  position: absolute;
  top: 800px;
  width: 100%;
  z-index: 11;
}
.navigation img {
  cursor: pointer;
  margin-top: 21px;
  max-width: 180px;
}
.navigation ul {
  zoom: 1;
  float: right;
  font-size: 13px;
  font-weight: 700;
  height: 100%;
  list-style: none;
  margin: 0;
}
.navigation ul:before,
.navigation ul:after {
  content: "";
  display: table;
}
.navigation ul:after {
  clear: both;
}
.navigation ul li {
  float: left;
  height: 100%;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.navigation ul li a {
  color: #000;
  cursor: pointer;
  display: block;
  height: 100%;
  line-height: 61px;
  text-decoration: none;
}
.navigation ul li a.active,
.navigation ul li a:hover {
  color: #019bb2;
}
.story {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1370px;
  z-index: 10;
}
.story:after {
  background: #fff9eb;
}
.story .background {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  height: 1170px;
  position: absolute;
  top: 45px;
  width: 100%;
  z-index: 1;
}
.story .background.happy {
  background-image: url("/images/story_good.svg");
}
.story .background.sad {
  background-image: url("/images/story_bad.svg");
  display: none;
}
.story .story-top {
  position: relative;
  top: 130px;
  z-index: 2;
}
.story .story-top button {
  margin-top: 30px;
  width: 300px;
}
.story .story-bottom {
  position: relative;
  margin-top: 715px;
  z-index: 2;
}
.story .button-block {
  zoom: 1;
  margin-top: 20px;
}
.story .button-block:before,
.story .button-block:after {
  content: "";
  display: table;
}
.story .button-block:after {
  clear: both;
}
.story .button-block button {
  width: 175px;
}
.story .button-block > :first-child {
  float: left;
}
.story .button-block > :last-child {
  float: right;
}
.story button {
  border-color: #019bb2;
  color: #019bb2;
}
.story button:hover {
  background-color: rgba(1,155,178,0.1);
}
.memes {
  background: #07e69a;
  color: #fff;
  padding: 90px 0 70px 0;
  z-index: 9;
}
.memes:after {
  background: #07e69a;
}
.memes button {
  width: 100%;
}
.memes form > * {
  width: 100%;
}
.memes form input {
  background: none;
  border: 3px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-size: 26px;
  margin: 0 0 22px 0;
  padding: 10px 13px;
}
.memes form input:focus {
  background: #fff;
  color: #07e69a;
}
.memes .stage {
  display: none;
}
.memes .select-critter {
  padding-left: 10px;
}
.memes #stage-one .column {
  height: 117px;
}
.memes #stage-one img {
  border: 3px solid #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.memes #stage-one img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.memes .image-container {
  background: #fff;
  border: 5px solid #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0,0,0,0.2);
  display: table;
  min-height: 200px;
  padding: 3px;
  position: relative;
  text-align: center;
  width: 100%;
}
.memes .image-container img {
  max-width: 100%;
  vertical-align: middle;
}
.memes .image-container span {
  display: table-cell;
  vertical-align: middle;
}
.memes .download {
  display: none;
}
.memes .social-links {
  display: none;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
  vertical-align: middle;
}
.memes .social-links > * {
  padding: 0 5px;
}
.memes .social-links img {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 25px;
}
.contributions {
  background: #019bb2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  padding: 120px 0 70px 0;
  z-index: 8;
}
.contributions:after {
  background: #019bb2;
}
.contributions a {
  color: inherit;
}
.contributions button {
  margin-top: 30px;
}
.contributions .right.column {
  padding-left: 130px;
  position: relative;
}
.contributions .meter {
  border: 3px solid #fff;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 75px;
  height: 100%;
  padding: 5px 0;
  position: absolute;
  width: 34px;
}
.contributions .expenses {
  left: 25px;
  position: relative;
  top: -30px;
}
.contributions .progress-container {
  bottom: 0;
  position: absolute;
  right: 0;
  width: 100%;
}
.contributions .progress-bar {
  background: #07e69a;
  border: 4px solid #019bb2;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  width: 100%;
}
.contributions .progress-amount {
  position: absolute;
  right: 225%;
  text-align: right;
  top: -9px;
  width: 100px;
}
.contributions .progress-amount h3,
.contributions .progress-amount p {
  margin: 0;
}
.contributions .progress-amount:after {
  border-bottom: 2px solid #fff;
  content: "";
  left: 116%;
  position: absolute;
  top: 12px;
  width: 15px;
}
.contributions ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contributions ul li {
  font-size: 11px;
  margin: 10px 0 30px 0;
}
.contributions ul li .highlight {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 700;
}
.contributions ul li .highlight.large {
  font-size: 55px;
  font-weight: 800;
}
.perks {
  background: #22211a;
  color: #fff;
  padding: 90px 0;
  z-index: 7;
}
.perks:after {
  background: #22211a;
}
.perks img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 50px;
}
.perks ul {
  zoom: 1;
  height: 400px;
  list-style: none;
}
.perks ul:before,
.perks ul:after {
  content: "";
  display: table;
}
.perks ul:after {
  clear: both;
}
.perks ul li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  float: left;
  padding: 0 13px;
  width: 25%;
}
.perks ul li.active {
  display: block;
}
.perks ul li a {
  text-decoration: none;
}
.perks ul li h3 {
  height: 62px;
  margin: 0;
  vertical-align: text-bottom;
}
.perks ul li .perk-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 200px;
  margin: 0 16px;
  padding: 45px 0 0 0;
  position: relative;
  text-align: center;
}
.perks ul li .perk-image:hover div {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.perks ul li .perk-image:hover img {
  -webkit-box-shadow: 0 0 15px 0 rgba(255,255,255,0.8);
  box-shadow: 0 0 15px 0 rgba(255,255,255,0.8);
}
.perks ul li .perk-image div {
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: 1;
}
.perks ul li .perk-image img {
  left: 0;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  top: 0;
  width: 100%;
  z-index: 0;
}
.perks ul li .perk-image .call-to-action {
  font-size: 0.8em;
  font-style: italic;
}
.perks ul li .perk-image .perk-amount {
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  font-weight: 700;
}
.footer {
  background: #2e2d29;
  color: #fff;
  padding: 90px 0;
  text-align: center;
  z-index: 6;
}
.footer img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 50px;
}
.footer p {
  color: inherit;
}
